.topbar{
  background-color: #ff33cc;
  overflow: hidden;
  text-align: center;
}
.topbar a {
  color: #bfbfbf;
  text-align: center;
  padding: 34px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topbar a:hover{
  background-color: #ffffff;
}
