.container .header-content{
 position:relative;
  margin:0 auto;
  max-width:1055px;
  height:100%;
}

.container .header-content .logo img{
  
  overflow:hidden;
  width:30px;
  height:30px;
  font-size:0;
  position:relative
}


.topbar{
  background-color: #bfbfbf;
  overflow: hidden;
}
.topbar a {
  color: #1a1a1a;
  text-align: center;
  padding: 14px 18px;
  text-decoration: none;
  font-size: 17px;
}
.topbar a:hover{
  background-color: #ffffff;
}

div.Ranko, div.Poh{
    font-size: 30px;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width:98%;
}
.Ranko{
   background-color:limegreen;    
}
.Poh{
    background-color:pink;    
  }
h1,h2{
  text-align: center;
}
