body{
	background-image: linear-gradient(to right,violet, gold);
	
}
.wrap{

  height:100%;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.banner{
  width: 40%;
  height: 70%;
  background-color:grey;
}

.inputs{
	display: flex;
	width:100%;
	align-items: center;
	justify-content: center;
	height:10%;
	background-color:red;
	
}

.wrapper{
	background-color:blue;
	width:100%;
	height:100%;
	
	
}

